.div1{
     
    background-color: #E4F9F5;
    margin-top: 0px 0px 0px 0px;
    margin: 100px ;
    position:relative;
    padding-top: 100px;
}
body{
    background-color: #E4F9F5;
     text-align: center; 
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1{
    margin: 0px auto  auto;
    margin-top: 0px;
    width: 10%;
    font-family: 'Sacramento', cursive;
}
.cloud-top{
    position:absolute;
  right: 300px;
  top: 50px;
}
.cloud-bottom{
    position:absolute;
    left: 300px;
    bottom: 300px;
    
}
